
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center">Game Over</h1>
			You scored {{score}} points.
			<button id="start" class="btn btn-lg btn-block btn-success">replay</button>
		</div>
	</div>
</div>