
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center">Letter Attack!</h1>
			Destroy the letters by typing them as they appear. Don't let them get to the right edge or it's game over!
			<button id="start" class="btn btn-lg btn-block btn-success">start</button>
		</div>
	</div>
</div>